.tm-section-desc {
    max-width: 650px;
    width: 100%;
    font-size: 0.9rem;
  }
  
  .tm-gallery-container {
    padding-top: 70px;
    padding-bottom: 120px;
  }
  
  .tm-gallery-item {
    margin: 0 15px;
  }
  
  .slick-dots {
    bottom: -65px;
  }
  
  .slick-dots li {
    margin: 0 13px;
  }
  
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before,
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #3ba0dd;
  }
  
  .tm-testimonials-carousel .slick-dots li button:before {
    color: white;
    opacity: 0.5;
  }
  
  .tm-testimonials-carousel .slick-dots li button:hover:before,
  .tm-testimonials-carousel .slick-dots li button:focus:before,
  .tm-testimonials-carousel .slick-dots li.slick-active button:before {
    color: white;
    opacity: 1;
  }
  
  .slick-dots li button:before {
    font-size: 18px;
  }